/* src/components/Hero.css */
#hero {
	    background-color: #f4f4f4;
	        padding: 50px;
		    text-align: center;
	    }

	    #hero h2 {
		        margin-bottom: 20px;
		}

		#hero a {
			    color: #333;
			        text-decoration: none;
				    border: 1px solid #333;
				        padding: 10px 20px;
					    display: inline-block;
				    }
